# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istros/

# User-specific files
.idea/
.vs/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm

# Build-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Package files
*.nupkg
*.snupkg

# Other
*.dll
*.pdb
*.csproj.AssemblyReference.cache
*.csproj.nuget.dgspec.json

# Ignore AppleDouble files (._ prefix)
._*.cs
._*.html
._*.asax
