<div class="jumbotron">
    <h1>Student repository API</h1>
    <p class="lead">This application, as the name implies, is a repository for adding and retrieving arbitrary
     student's information. The application was built using primarily Angular, plain JavaScript, HTML and CSS.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add Student information</h2>
        <p>You may use this link to add student information.</p>
        <p><a class="btn btn-default" href="~/AddStudent.html">Add Student Information</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Students information</h2>
        <p>You may use this link to view student information.</p>
        <p><a class="btn btn-default" href="~/StudentsGridAng.html">View Student information</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update Student information</h2>
        <p>You may use this link to update student information.</p>
        <p><a class="btn btn-default" href="~/EditStudents.html">Update Student Information</a></p>
    </div>
</div>
